.topo {
  width: 100%;
}

.foto {
  text-align: center;
}
.avatar {
  width: 200px;
}

.nome {
  text-align: center;
}

.conteudo {
  background-color: rgb(224, 167, 92);
  margin: 3%;
  line-height: 40px;
  border-radius: 15px;
  display: inline-block;
  width: 25%;
}

h3 {
  text-align: center;
}
