.topo {
  width: 100%;
}

.nome {
  text-align: center;
}

.avatar {
  text-align: center;
}

.avatar img {
  width: 200px;
}

.conteudo {
  background-color: aqua;
  margin: 20px;
}

.box {
  border-radius: 20px;
  background: #e4e3e3;
  margin: 5%;
  border-radius: 20px;
  width: 20%;
  float: left;
}

.texto {
  width: 50px;
}

.progresso {
  text-align: center;
}
